*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
header {
  background-color: #D64550;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  text-align: center;
  font-weight: 300;
  color: #ECF8F8;

}